$norm: #fff;
$bg: hsla(0, 0%, 100%, 0.388);
$boda: #0099ff62;
$anim1: #aaa;
$anim2: #0000005c;

* {
  box-sizing: border-box;
}

body {
  background-image: url("/dadjokes.jpg");
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;

  .container {
    background-color: $bg;
    border: 1px solid $boda;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 900px;

    h3 {
      margin: 0;
      opacity: 0.5;
      letter-spacing: 2px;
    }

    .joke {
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 40px;
      margin: 50px auto;
      max-width: 600px;
    }

    .btn {
      background: #00b4db;
      background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
      background: linear-gradient(to right, #0083b0, #00b4db);

      color: $norm;
      border: 1px solid $boda;
      border-radius: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
      padding: 14px 40px;
      font-size: 16px;
      cursor: pointer;

      &:active {
        transform: scale(0.98);
      }

      &:hover {
        animation: animation 1s 1 linear;

        @keyframes animation {
          50% {
            color: $anim1;
          }

          100% {
            color: $anim2;
          }
        }
      }
    }
  }
}
